In [157]:
import numpy as np
import pandas as pd

## Numpy

In [158]:
# Question 1a
def find_common_elements(A,B):
    return np.intersect1d(A, B)

In [159]:
# Question 1b
# we are considering 10 element array (arbitrary)
A=np.random.rand(10,1)
B=np.random.rand(10,1)
np.array_equal(A,B)

False

In [160]:
# Question 1c
np.add(A, B, out=B)
np.divide(A, -2, out=A)
np.multiply(A, B, out=A)

array([[-0.6763477 ],
       [-0.35910412],
       [-0.24001604],
       [-0.38584212],
       [-0.38589958],
       [-0.20435635],
       [-0.45977551],
       [-0.39483743],
       [-0.24919337],
       [-0.57138906]])

In [39]:
# Question 1d
def cartesian_to_polar(A):
    X=A[:,0]
    Y=A[:,1]
    R=np.zeros([A.shape[0],2])
    R[:,0]=np.sqrt(X*X+Y*Y)
    R[:,1]=np.arctan(Y/X)
    return R

## Pandas

In [83]:
#Question 2a
def unique_rows(df):
    return df.drop_duplicates().shape[0]

In [92]:
# Question 2b
df = pd.DataFrame(np.random.random(size=(5, 3)))
df.sub(df.mean(axis=1), axis=0)

          0         1         2
0  0.308967 -0.175154 -0.133812
1  0.244530  0.129670 -0.374201
2  0.083275 -0.360052  0.276777
3 -0.261851  0.106142  0.155709
4 -0.191624  0.190888  0.000736

In [156]:
# Question 2d
df1 = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
df1.groupby('grps')['vals'].apply(lambda grps: grps.nlargest(3).sum())

grps
a    409
b    156
c    345
Name: vals, dtype: int64